body {
    background-color: GhostWhite;
}

div {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

.main-container {
    margin: 0 auto;
    min-height: 1px;
    min-width: 500px;
    max-width: 750px;
    width: 50vw;
}

h1 {
    text-align: center;
    color: snow;
    font-size: 3.5rem;
    font-family: 'Impact', 'Charcoal', sans-serif;
    background-color: midnightblue;
    width: 65%;
    min-width: 375px;
    margin: 0 auto;
}
.game-box {
    margin: 2em auto 0;
    display: table;
    background-color: green;
    min-height: 1px;
    width: 65%;
    min-width: 375px;

}

.game-row {
    display: table-row;
    min-height: 1px;  
}

.game-tile {
    display: table-cell;
    position: relative;
    background-color: GhostWhite;
    font-size: 2em;
    width: 33%;
    height: 0;
    padding-top: 33%;
    border-right: 3px black solid;
    border-bottom: 3px black solid; 
    min-width: 125px;
    max-width: 150px;
}

.game-tile:hover {
    background-color: steelblue;
}

.content {
        position: absolute;
        display: table;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        text-align: center; 
        font-size: 5em;
}

#row-3 .game-tile {
    border-bottom-style: none;
}

.game-tile:last-of-type {
    border-right-style: none;
}

.score-container {
    display: block;
    width: 50vw;
    margin: 2em auto;
    min-width: 375px;

}

.score-bar {
    display: block;
    background-color: slategrey;
    color: white;
    width: 65%;
    text-align: center;
    font-size: 2.5em;
    padding: .5em 0;
    margin: 0 auto;
    min-width: 375px;
    max-width: 500px;

    .player-score {
        display: inline-block;
        text-align: center;
        width: 33%;
    }

    .score-title {
        display: inline-block;
        text-align: center;
    }
}

.reset {
    display: table;
    background-color: lightgrey;
    width: 65%;
    margin: 0 auto;
    padding: .5em 0;
    min-width: 375px;
    max-width: 500px;
    font-size:  2.5em;
    text-align: center;
}

.reset:active {
    box-shadow: inset 0 0 3em rgba(0, 0, 0, .75);
}





